*{
    box-sizing: border-box;
}

body{
    background-color: rgb(68, 67, 67);
    width: 100vw;
    height: 100vh;
}

.encabezado{
    height: 18%;
    width: 100vw;
    display: inline-block;
    background-image: url(imagenes/pexels-pixabay-276258.jpg);
    background-size: cover;
    
    
}

.main-title{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(184, 182, 65);
    text-shadow: 0 0 10px  rgb(83, 33, 18);
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 5%;
    left: 135px;
    
}

.logo{
    border-radius: 50px;
    box-shadow: 0 0 10px 5px rgb(102, 102, 102);  
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 2%;
    left: 25px;
    
}

.navegacion{
    height: 8%;
    width: 100vw;
    background-color: rgb(68, 67, 67);
    border: 3px solid grey;
}

.lista{
    text-decoration: none;
    text-align: right;
    margin-right: 50px;
    padding-top: 10px;
    /* width: clamp (200px, 60%, 400px); */
}

.item{
    display: inline-block;
  
    
}

.item a{
    text-decoration: none;
    color: rgb(172, 170, 45);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 1px  rgb(199, 110, 83);
    margin-left: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;


}

.presenta{
    width: 100vw;
    height: fit-content;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    padding: 30px;
}

.presenta h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px black;
}

.presenta p{
    
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: .1 solid transparent;
    line-height: 35px;
}

.galeria{
    display: grid;
    width: 95%;
    height: auto;
    border: 10px ridge #764ba2;
    margin: 30px auto;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 10px 10px;
    padding: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    
}

.pic{
    color: white;
    border: 3px solid black;
    margin: 0.1px auto;
   
}

.pic img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    
}

/* ----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------- */

@media screen and (max-width:600px) {

    .logo{
        top: 4%;
    }

    .main-title{
        top: 4%;
        left: 50%;
    }


    .navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    

    
        
    }

    .lista{
        top: 13%;
        text-align: center;
        margin-right: 0px;
    }

    .item a{
        font-size: 20px;
        margin-left: 5px;
        
    }
    
}

@media screen and (orientation: landscape) and (max-width: 767px){
    .navegacion{
        height: fit-content;
    }
}